*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #0d0d0d;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: #a3a3a3;
}
